{#
/**
 * @file
 * Default theme implementation to display previous/next links.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - previous_url: (optional) The URL to previous article.
 * - previous_label: (optional) The label for previous article link.
 * - next_url: (optional) The URL to next article.
 * - next_label: (optional) The label for next article.
 */
#}
{% if previous_url or next_url %}
  <div{{ attributes.addClass('previous-next') }}>
    {% if previous_url and previous_label %}
      <a href="{{ previous_url }}"
         class="previous-next__link previous-next__link--previous">
        {{ previous_label }}
      </a>
    {% endif %}
    {% if next_url and next_label %}
      <a href="{{ next_url }}"
         class="previous-next__link previous-next__link--next">
        {{ next_label }}
      </a>
    {% endif %}
  </div>
{% endif %}
