{% extends 'node.html.twig' %}

{% block node %}
  <h3{{ title_attributes.addClass(bem(block, 'title')) }}>
    {% block title %}
      <a class="{{ bem(block, 'link') }}" href="{{ url }}" rel="bookmark">{{ label }}</a>
    {% endblock %}
  </h3>

  {{ content.body }}
{% endblock node %}
