<article{{ attributes.addClass('article-card') }}>
  {% include 'laszlo:image' with {
    attributes: create_attribute({
      class: ['article-card__poster'],
    }),
    uri: poster_uri,
    style_name: '150x200',
    alt: title,
  } only %}

  <div class="article-card__content">
    <h3 class="article-card__title">{{ title }}</h3>
    {#  {{ published_timestamp }}#}
    {#  {{ estimated_read_time }}#}
    {% if summary %}
      <div class="article-card__summary">{{ summary }}</div>
    {% endif %}
  </div>

  <a href="{{ url }}"
     class="article-card__link"
     aria-label="{{ title }}"></a>
</article>