{#
/**
 * @file
 * Theme override for attached media file.
 *
 * Available variables:
 * - uri: The attached file URI.
 * - filename: The filename.
 * - filesize: The formatted filesize.
 * - label: The files media name.
 */
#}
{{ attach_library('mechanical/component.theme.attached-file') }}
<a href="{{ uri|file_url }}"{{ attributes.addClass('attached-file') }}>
  {{- label -}}
  <span class="attached-file__filename"> — {{ filename -}},</span>
  <span class="attached-file__filesize">{{- filesize -}}</span>
</a>
