{#
/**
 * @file
 * Theme override for content TOC.
 *
 * Available variables:
 * - links: The array with link for TOC.
 */
#}
{{ attach_library('mechanical/component.theme.niklan-toc') }}

{% import _self as toc %}
{% set bem_block = 'toc' %}
<div{{ attributes.addClass(bem_block) }}>
  {% set bem_base = bem_block ~ '__' %}
  {% do attributes.removeClass(bem_block) %}
  {% if links %}
    <ul{{ attributes.addClass([bem_base ? bem_base ~ 'list']) }}>
      {% for item in links %}
        <li class="{{ bem_base ~ 'item' }} {{ bem_base ~ 'item--indent-' ~ item.indent }}">
          <a href="{{ item.anchor }}" class="{{ bem_base ~ 'link' }}" title="{{ item.text }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
