{#
/**
 * @file
 * Theme override for blog meta information.
 *
 * Available variables:
 * - attributes: An attributes.
 * - created: The formatted date when blog entry was created.
 * - comment_count: The amount of comments.
 * - comments_url: The anchor URL to comments.
 * - estimated_read_time: The number of minutes estimated to read the article.
 */
#}
{{ attach_library('mechanical/component.theme.blog-meta') }}
{% set count = comment_count %}
{% set comment_link_label %}
  {%- trans -%}
    {{ count }} comment
  {%- plural count -%}
    {{ count }} comments
  {%- endtrans -%}
{% endset %}
<div{{ attributes.addClass('blog-meta') }}>
  <div class="blog-meta__created" title="{{ 'Created time'|t }}">{{ created }}</div>
  <a href="{{ comments_url }}" class="blog-meta__comments{{ comment_count == 0 ? ' blog-meta__comments--no-comments' : '' }}">{{- comment_link_label -}}</a>
  <div class="blog-meta__read-time" title="{{ 'Estimated reading time'|t }}">{{ estimated_read_time }} {{ 'min.'|t }}</div>
</div>
