<article{{ attributes.addClass('portfolio') }}>
  <div class="portfolio__meta">
    <div class="portfolio__meta-item">
      {%- include 'laszlo:icon' with {icon: 'calendar'} only -%}
      {{- year_of_completion -}}
    </div>

    <a href="{{ project_url }}"
       rel="nofollow noopener"
       target="_blank"
       class="portfolio__meta-item">
      {%- include 'laszlo:icon' with { icon: 'link' } only -%}
      {{- project_url -}}
    </a>
  </div>

  {% if description|render|trim is not empty %}
    <div class="prose portfolio__description">
      <h2 class="portfolio__description-title">{{ 'Description'|t }}</h2>
      {{ description }}
    </div>
  {% endif %}

  {% if photos|render|trim is not empty %}
    <div class="prose portfolio__photos">
      <h2 class="portfolio__photos-title">{{ 'Screenshots'|t }}</h2>
      {{ photos }}
    </div>
  {% endif %}
</article>