{#
/**
 * @file
 * Default theme implementation to display social links.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 */
#}
{{ attach_library('niklan/follow') }}
{% set links = {
  'rss': 'https://niklan.net/blog.xml',
  'telegram': 'https://t.me/niklannet',
  'youtube': 'https://youtube.com/c/NiklanNet',
  'support': url('niklan.support'),
} %}
<div{{ attributes.addClass('follow') }}>
  <div class="follow-actions">
    <a href="{{ links.rss }}" class="button button--small follow__action follow__action--rss" aria-label="{{ 'RSS'|t }}" title="{{ 'RSS'|t }}"></a>
    <a href="{{ links.telegram }}" class="button button--small follow__action follow__action--telegram" aria-label="{{ 'Telegram'|t }}" title="{{ 'Telegram'|t }}"></a>
    <a href="{{ links.youtube }}" class="button button--small follow__action follow__action--youtube" aria-label="{{ 'YouTube'|t }}" title="{{ 'YouTube'|t }}"></a>
    <a href="{{ url('niklan.support') }}" class="button button--small follow__action follow__action--support" aria-label="{{ 'Support'|t }}" title="{{ 'Support'|t }}"></a>
  </div>
</div>
