{% set variant = variant|default('card') %}
{% set class = [
  'article-list',
  'article-list--variant--' ~ variant,
] %}
<div{{ attributes.addClass(class) }}>
  {% if heading %}
    <h2 class="article-list__heading">{{ heading }}</h2>
  {% endif %}

  {% if items %}
    <div class="article-list__items">
      {% for item in items %}
        {{ item }}
      {% endfor %}
    </div>
  {% endif %}

  {% if pager %}
    {% set load_more_settings = {
      'replace': {
        '.article-list__pager': '.article-list__pager',
      },
      'append': {
        '.article-list__items > *': '.article-list__items',
      },
    } %}
    <footer class="article-list__pager" data-load-more-settings="{{ load_more_settings|json_encode }}">
      {{ pager }}
    </footer>
  {% endif %}
</div>