{% do attributes.addClass('page-footer') %}
<footer{{ attributes }}>
  <div class="page-footer__main">
    <div class="page-footer__versions">
      {% include 'laszlo:version-link' with {
        label: 'Website version'|t,
        url: versions.website.source_url,
        version: versions.website.version,
      } only %}
      {% include 'laszlo:version-link' with {
        label: 'Content version'|t,
        url: versions.content.source_url,
        version: versions.content.version,
      } only %}
    </div>

    {% set license_url = 'https://creativecommons.org/licenses/by-sa/4.0/legalcode.ru' %}
    <div class="page-footer__info">
      {%- trans -%}
        The content is published under <a href="{{ license_url }}">CC-BY-SA 4.0</a> license.
      {%- endtrans %}
      <a href="{{ url('niklan.sitemap') }}">{{ 'Site Map'|t }}</a>.
    </div>

    <div class="page-footer__copyright">
      © {{ 'now'|date('Y') }} Niklan
    </div>
  </div>

  <div class="page-footer__extra">
    {% include 'laszlo:color-scheme' only %}
  </div>
</footer>
