{% set block = 'paragraph-heading' %}
{%
  set classes = [
    bem(block),
  ]
%}
<{{ heading_level }}{{ attributes.addClass(classes).setAttribute('id', anchor) }}>
  {{- title -}}<a href="#{{ anchor }}" class="anchor {{ bem(block, 'anchor') }}" aria-label="{{ 'Anchor link' }}: {{ title|raw }}">¶</a>
</{{ heading_level }}>
