{% set block = 'comment-comment-node-blog-entry-form' %}
{% if form.comment_preview %}
  <div class="{{ bem(block, 'preview') }}">
    {{ form.comment_preview }}
  </div>
{% endif %}

<div class="{{ bem(block, 'info') }}">
  {{ form.author }}
</div>

{{ form|without('author', 'comment_output_below', 'comment_preview') }}
