{%
  set block = bem_block([
    'comment',
    elements['#view_mode'] != 'default' ? elements['#view_mode'],
  ])
%}
{%
  set classes = [
    bem(block),
  ]
%}
<article{{ attributes.addClass('js-comment', classes) }}>
  <header class="{{ bem(block, 'header') }}">
    <a href="{{ commented_entity_url }}" class="{{ bem(block, 'commented-entity') }}">{{ commented_entity.label() }}</a>
    {% if homepage %}
      <a href="{{ homepage }}" rel="nofollow noopener" class="{{ bem(block, 'author') }}">
        {{ content.extra_field_author_name }}
      </a>
    {% else %}
      <span class="{{ bem(block, 'author') }}">
        {{ content.extra_field_author_name }}
      </span>
    {% endif %}

    <a href="{{ permalink_url }}" class="{{ bem(block, 'created') }}">
      {{ created }}
    </a>
  </header>
  <section class="{{ bem(block, 'content') }}">
    {{ content.comment_body }}
  </section>
</article>
