{#
/**
 * @file
 * Theme override for sidebar search form.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('mechanical/component.theme.sidebar-search-form') }}
{% do attributes.setAttribute('action', path('niklan.search_page')) %}
<form{{ attributes.addClass('sidebar-search-form') }}>
  <input name="q"
         type="text"
         aria-label="{{ 'Search query'|t }}"
         placeholder="{{ 'What are we looking for?'|t }}"
         class="form-element sidebar-search-form__input">
  <button type="submit"
          aria-label="{{ 'Do search'|t }}"
          class="button button--type-submit sidebar-search-form__submit"></button>
</form>
