{#
/**
 * @file
 * Theme override for display portfolio list.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - items: An array with portfolio items.
 */
#}
{{ attach_library('mechanical/component.theme.portfolio-list') }}
{% set github_url = 'https://github.com/Niklan' %}
{% set drupal_url = 'https://www.drupal.org/u/niklan' %}
{% set blog_url = '/' %}
{% set youtube_url = 'https://youtube.com/c/NiklanNet' %}
<section{{ attributes.addClass('portfolio-list') }}>
  <header class="portfolio-list__header">
    <p>{% trans %}This list of projects in which I participated as a full stack developer (backend + frontend), unless otherwise noted. It does not include small projects, projects under NDA and those in which my participation was insignificant.{% endtrans %}</p>
    <p>{% trans %}In addition to commercial projects, I contribute to OpenSource (<a href="{{ github_url }}" rel="nofollow noopener" target="_blank">GitHub</a>, <a href="{{ drupal_url }}" rel="nofollow noopener" target="_blank">Drupal.org</a>) and, of course, write a <a href="{{ blog_url }}" rel="nofollow noopener" target="_blank">blog</a>. And recently, I also keep a <a href="{{ youtube_url }}" rel="nofollow noopener" target="_blank">YouTube channel</a>.{% endtrans %}</p>
  </header>

  <main class="portfolio-list__content">
    <div class="portfolio-list__items">
      {% for item in items %}
        <div class="portfolio-list__item">
          {{ item }}
        </div>
      {% endfor %}
    </div>
  </main>
</section>
