{% set main_layout_attributes = create_attribute() %}
{% set main_layout_block = 'main-layout' %}
{%
  set main_layout_modifiers = [
    page.sidebar_right ? 'sidebar-right',
    not page.sidebar_right ? 'no-sidebars',
  ]
%}
{%
  set main_layout_classes = [
    bem(main_layout_block, null, main_layout_modifiers),
  ]
%}

<div{{ main_layout_attributes.addClass(main_layout_classes) }}>
  <aside class="navigation js-navigation">
    <div class="navigation__content">
      <nav class="navigation__top">
        {{ page.sidebar_left }}
        {{ russian_drupal_awards }}
      </nav>
      <div class="navigation__bottom">
        {{ page.footer }}
      </div>
    </div>
    <div class="navigation__backdrop">
      <div class="navigation__close js-navigation-close"></div>
    </div>
  </aside>
  <div class="main-layout__content">
    {% block main_layout %}
      {{ page.content_top }}
      {{ page.content }}
    {% endblock %}
  </div>
  {{ page.sidebar_right }}
</div>
